@{
    ViewBag.Title = "About";
}


<div data-bs-parallax-bg="true" style="height: 800px; background-image: url(../../Images/star-sky.jpg); background-position: center; background-size: cover;">
    <hr />
    <p style="color: whitesmoke; position: center; text-align: center">Additional information about my site.</p>
</div>

