@model IEnumerable<asp.net_project.Models.Product>

@{
    ViewBag.Title = "FindProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("FindProduct", "Home", FormMethod.Get))
{
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="fa fa-search"></i>
        </span>
    </div>
    @Html.TextBox("searching")
    <div style="padding-left: 5px"></div>
    <div class="input-group-append">
        <input class="btn btn-light" type="submit" value="Search" />
    </div>
</div>
    
}
<hr/>
<div class="card-columns">
    @foreach (var product in Model)
    {
    <div class="card">
        @{
            var base64 = Convert.ToBase64String(product.Image);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
        }
        <div class="card-img" style="background-image: url(@imgsrc);">
        </div>
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <h6 class="card-text">@product.Description</h6>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <a href="~/Products/Details/@product.ProductId" class="btn btn-secondary" role="button" aria-pressed="true">More Info</a>
            </small>
        </div>
    </div>
    }
</div>