@model IEnumerable<asp.net_project.Models.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span>
    <h2>Products</h2>
    <a href="~/Home/FindProduct" class="btn btn-outline-secondary" role="button" aria-pressed="true" style="text-align:center">Find product</a>
</span>
    <hr />
    <div class="card-columns">
        @foreach (var product in Model)
        {
            @Html.Partial("_DisplayProductPartial", product);
        }
    </div>

