@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height:320px;width:100%" src="first_slide.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img style="height:320px;width:100%" src="second_slide.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img style="height:320px;width:100%" src="thirt_slide.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div style="padding-top: 25px"></div>
<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
<div class="olSearch fr">
  <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseTex form-control"/>
  <div class="searchIcon">
    <button type="button" class="searchBtn">
      <img alt="search image" style="width: 25px; height: 25px; background-color: transparent; vertical-align: top; horiz-align: center" src="search.png"/>
    </button>
  </div>
</div>

<div style="color: white; width: 100%; height: 15px;"></div>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Our Products <small>trends products</small></h2>
    </div>
  </div>
</div>
<div style="padding-top: 25px"></div>
<div class="row product-container">
  <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom: 8px;">
    <div class="thumbnail product-item border-primary" style="height: 300px;">
      <img class="img-responsive" title="Click to View Product detail" alt="Nothing" style="cursor: pointer; height: 160px;width: 100%"
           src="Pineapple-Free-PNG-Image.png"/>
      <div class="caption">
        <h5>Product Name</h5>
        <p>10 р.</p>
        <p>Available</p>
        <div class="product-item-badge">New</div>
      </div>
    </div>
  </div>
</div>


<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->